
.select-foul{
    position: absolute;
    width: 120px;
    :global(.ant-select-selector) {
        border: none !important;
        box-shadow: none !important;
        background: none !important;
    }
}

.scroll_messages {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}