.show-more {
	color: gray;
	cursor: pointer;
	transition: 0.3s;
}

.show-more:hover {
	text-decoration: underline;
}

.text-container {
	white-space: pre-line; /* Сохраняет переносы строк */
}

.link {
	color: #1677ff; /* антовский синий */
	font-weight: 500;
	text-decoration: underline;
	cursor: pointer;
}

.link:hover {
	color: #0958d9;
}
