services:
  nginx:
    build:
      context: ./client
      args:
        - MODE=${MODE:-dev}
    env_file:
      - ./client/.env
    ports:
      - "80:80"
    depends_on:
    - server
    networks:
      - app_net
    restart: unless-stopped


  server:
    build:
      context: ./server
      target: dev
    env_file:
      - ./server/.env.dev
    ports:
      - "5000:5000"
    depends_on:
    - postgres
    networks:
      - app_net
    restart: always

  postgres:
    image: postgres:15
    # environment:
    #   POSTGRES_DB: prod_db
    #   POSTGRES_USER: postgres
    #   POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    env_file:
      - ./server/.env.dev
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - app_net

volumes:
  pgdata:

networks:
  app_net:
