services:
  nginx:    
    build:
      context: ./client
      dockerfile: Dockerfile
      args:
        - MODE=${MODE:-dev}
    env_file:
      - .env
    networks:
      nginx_net:
    ports:
      - '80:80'
      - '443:443'
    depends_on:
      - server
    restart: unless-stopped
    mem_limit: 256m
    cpus: 0.5
  server:    
    build:
      context: ./server
      dockerfile: ./Dockerfile
      target: ${MODE:-dev}
    env_file:
      - ./server/.env.${MODE-dev}
    volumes:
      - ./server/static:/app/static
      # - ./server:/app # Для разработки
      # - /app/node_modules # Для разработки
    ports:
      - 5000:5000
    command: yarn start:dev # Для разработки
    depends_on:
      - postgres
    networks:
      nginx_net:
    restart: always
    # mem_limit: 512m
    # cpus: 0.7
  postgres:
    image: postgres:15
    environment:
      POSTGRES_DB: prod_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    env_file:
      - ./server/.env.${MODE:-dev}
    ports:
      - '5020:5432'
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./docker_postgres_init.sql:/docker-entrypoint initdb.d/docker_postgres_init.sql
    restart: always
    networks:
      nginx_net:
    mem_limit: 512m
    cpus: 0.8


volumes:
  pgdata:

networks:
  nginx_net:
    name: nginx_net