services:
  nginx:
    build:
      context: ./client
      args:
        - MODE=dev
    ports:
      - "80:80"
    depends_on:
    - server
    networks:
      - app_net
    restart: unless-stopped

  redis:
    image: redis:7
    container_name: redis
    networks:
      - app_net

  server:
    build:
      context: ./server
      target: dev
    env_file:
      - ./server/.env.dev
    ports:
      - "5000:5000"
    depends_on:
    - postgres
    - redis
    environment:
      REDIS_HOST: redis
    networks:
      - app_net
    restart: always

  postgres:
    image: postgres:15
    env_file:
      - ./server/.env.dev
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - app_net

volumes:
  pgdata:

networks:
  app_net:
