.blocked_text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	/* height: 200px; */
}

.blocked_text p {
	margin: 0; /* Убираем отступы у текстовых элементов */
}

#messages {
	bottom: 55px;
	border: 1px solid rgb(223, 219, 219);
	border-width: 1px 0 0 0;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	background-color: #f4f7f4;
	width: 100%;
	z-index: 3;
	margin: 0 auto;
	/* border-bottom: 1px solid black; */
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}

.authWrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 40px 20px;
	text-align: center;
	background-color: #f8f9f8;
	border-radius: 12px;
	box-shadow: 0 4px 14px rgba(0, 0, 0, 0.08);
	max-width: 500px;
	/* margin: 60px auto; */
}

.authMessage {
	font-size: 20px;
	font-weight: 700;
	color: #2e6c45;
	margin-bottom: 25px;
	line-height: 1.4;
	font-family: 'Merriweather', serif;
}

.authButtonWrapper {
	width: 100%;
	max-width: 350px;
}

.authButtonWrapper button {
	width: 100%;
	height: 50px;
	font-size: 18px;
	font-weight: 600;
	border-radius: 8px;
}
