.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0 40px;
}

@media (max-width: 1024px) {
	.wrapper {
		padding: 0 24px;
	}
}

@media (max-width: 768px) {
	.wrapper {
		padding: 0 8px;
	}
}
