PORT=5000
# CLIENT_URL=https://prosaically-permanent-wheatear.cloudpub.ru
CLIENT_URL=http://localhost

POSTGRES_URI=postgres://postgres:password@postgres:5432/name_db
POSTGRES_DB=name_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password

JWT_EXPIRATION=3600
JWT_SECRET=string
JWT_REFRESH_SECRET=string

VK_CLIENT_ID=id
VK_CLIENT_SECRET=string
VK_CALLBACK=${CLIENT_URL}/vk/callback
VK_VERSION=5.199

VK_SERVICE_SECRET=string
VK_ACCESS_TOKEN=string

STATE=string

DOMEN=${CLIENT_URL}/api/file

ZOOM_ACCOUNT_ID=string
ZOOM_CLIENT_ID=string
ZOOM_CLIENT_SECRET=string