.file-name-container {
	display: flex;
	align-items: center;
	overflow: hidden;
	width: var(--my-width);
}

.file-name :global(.ant-upload-list-item) {
	flex: 1 1 0;
	min-width: 0;
	width: var(--my-width);
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
