.file-name-container {
    display: flex; /* Использовать flexbox для контейнера */
    align-items: center; /* Центрирование элементов по вертикали */
    max-width: 100%; /* Устанавливаем максимальную ширину контейнера */
    overflow: hidden; /* Обрезаем лишний текст */
  }
  
  .file-name {
    /* max-width: 300px; Установите максимально допустимую ширину для имени файла */
    overflow: hidden; /* Обрезаем лишний текст */
    text-overflow: ellipsis; /* Добавляем многоточие "..." для обрезанного текста */
    white-space: nowrap; /* Не переносим текст на новую строку */
    margin-right: 8px; /* Отступ между названием файла и кнопкой удаления */
  }